@keyframes circleAnimation {
	0%{
		transform:scale(1);
		-o-transform:scale(1);
		-ms-transform:scale(1);
		-webkit-transform:scale(1);
		box-shadow: 0 0 0 rgba(0,0,0,0);
	}
	50%{
		transform:scale(1.12);
		-o-transform:scale(1.12);
		-ms-transform:scale(1.12);
		-webkit-transform:scale(1.12);
		box-shadow: 0 0 40px rgba(0,0,0,0.54);
	}
	100%{
		transform:scale(1);
		-o-transform:scale(1);
		-ms-transform:scale(1);
		-webkit-transform:scale(1);
		box-shadow: 0 0 0 rgba(0,0,0,0);	
	}
}

@keyframes svgAnimation {
	0%{
		transform:scale(1);
		-o-transform:scale(1);
		-ms-transform:scale(1);
		-webkit-transform:scale(1);
	}
	50%{
		transform:scale(2.42);
		-o-transform:scale(2.42);
		-ms-transform:scale(2.42);
		-webkit-transform:scale(2.42);
	}
	100%{
		transform:scale(1);
		-o-transform:scale(1);
		-ms-transform:scale(1);
		-webkit-transform:scale(1);
	}
}

@keyframes circleOneAnimation {
	0%{
		transform: scale(1.7);
		-o-transform: scale(1.7);
		-ms-transform: scale(1.7);
		-moz-transform: scale(1.7);
		-webkit-transform: scale(1.7);
	}
	50%{
		transform: scale(1.2);
		-o-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}
	100%{
		transform: scale(1.7);
		-o-transform: scale(1.7);
		-ms-transform: scale(1.7);
		-moz-transform: scale(1.7);
		-webkit-transform: scale(1.7);
	}
}

@keyframes circleTwoAnimation {
	0%{
		transform: scale(2);
		-o-transform: scale(2);
		-ms-transform: scale(2);
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
	}
	50%{
		transform: scale(1.7);
		-o-transform: scale(1.7);
		-ms-transform: scale(1.7);
		-moz-transform: scale(1.7);
		-webkit-transform: scale(1.7);
	}
	100%{
		transform: scale(2);
		-o-transform: scale(2);
		-ms-transform: scale(2);
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
	}
}

@keyframes circleThreeAnimation {
	0%{
		transform: scale(2.4);
		-o-transform: scale(2.4);
		-ms-transform: scale(2.4);
		-moz-transform: scale(2.4);
		-webkit-transform: scale(2.4);
	}
	50%{
		transform: scale(2);
		-o-transform: scale(2);
		-ms-transform: scale(2);
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
	}
	100%{
		transform: scale(2.4);
		-o-transform: scale(2.4);
		-ms-transform: scale(2.4);
		-moz-transform: scale(2.4);
		-webkit-transform: scale(2.4);
	}
}