@import './reset.css';
@import './animations.css';

body {
	width: 100%;
	min-height: 100vh;
}
.main-block{
	width: 100%;
	min-height: 100vh;
	display: flex;
	background: radial-gradient(top, #1f3656, #131639);
	background: -o-radial-gradient(top, #1f3656, #131639);
	background: -ms-radial-gradient(top, #1f3656, #131639);
	background: -moz-radial-gradient(top, #1f3656, #131639);
	background: -webkit-radial-gradient(top, #1f3656, #131639);
}
.container{
	width: 1366px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.game-block{
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.score-block{
	width: 70%;
	padding: 15px;
	border: 3px solid #5d6983;
	border-radius: 15px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0px;
}
.score-block-title{
	display: flex;
	flex-direction: column;
}
.score-block-title h3{
	margin-top: 0;
    color: #feffff;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 39px;
}
.score-block-points{
	display: flex;
	justify-content: center;
	align-items: center;
}
.score-block-points-content{
	padding: 13px 40px;
    background: #fff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    border-radius: 7px;
}
.score-block-points-content p{
	text-transform: uppercase;
	font-size: 20px;
	color: #3f458f;
}
.score-block-points-content h2{
    text-transform: uppercase;
    font-size: 67px;
    font-weight: 800;
    color: #5d5970;
    margin: 0;
    line-height: 57px;
}
.button-player{
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border-radius: 50%;
	cursor: pointer;
	background: #e6e6e6;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 100;

	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;

}
.button-player:hover{
	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;

	animation: circleAnimation 1s infinite;
}
.button-player-paper {
    border: 15px solid #506cf3;
    top: -50px;
    left: -40px;
}
.button-player-scissors {
    border: 15px solid #eca318;
    top: -50px;
    right: -40px;
}
.button-player-rock {
    border: 15px solid #de3e5a;
    top: 155px;
}
.button-player-default{
	top: 0;
	left: 0;
	position: relative;
	width: 270px;
	height: 270px;
}
.button-player-default {
	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;

	animation: circleAnimation 3s infinite;
}
.button-player-default svg{
	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;

	animation: svgAnimation 5s infinite;
}
.rules-block {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    padding: 8px 26px;
    border: 2px solid #fff;
    border-radius: 7px;
}
.rules-block h1{
	margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
}
.rules-modal{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;left: 0;
	z-index: 1000;
	background: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;

	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
.rules-modal-opened{
	opacity: 1;
	visibility: visible;

	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
.rules-modal-content{
	display: flex;
	box-sizing: border-box;
	background: #eee;
	border-radius: 7px;
	padding: 35px;
	flex-direction: column;
}
.rules-modal-content-header{
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.rules-modal-content-header svg{
	cursor: pointer;
}
.rules-modal-content-header h1{
    text-transform: uppercase;
    font-size: 30px;
    color: #3a4060;
    font-weight: 800;
}
.game-content{
	width: 70%;
	min-height: 55vh;
	position: relative;
	display: flex;
	margin: 20px 0 50px;
	justify-content: center;
	align-items: center;
}
.game-content-1{
	width: 310px;
	height: 310px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.game-content-selected{
	width: 100%;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.game-content-selected h2{
	text-transform: uppercase;
	color: #fff;
	margin: 0 0 25px 0;
	position: relative;
	z-index: 55;
}
.game-content-selected-left, .game-content-selected-right{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.button-player-default-pc{
	background: #182341;
	width: 270px;
	height: 270px;
}
.game-content-selected-center{
	display: block;
	position: relative;
	z-index: 55;
}
.game-content-selected-center h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
}
.game-content-selected-center span{
	cursor: pointer;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #df4b4b;
    background: #fff;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.you-picked-block, .pc-picked-block{
	position: relative;
	display: flex;
}
.winner .circle{
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-moz-transition:.2s all;
	-webkit-transition:.2s all;
}
.winner .circle-1{
	background: rgba(40, 49, 80, 0.3);
	z-index: 10;
	transform: scale(1.7);
	-o-transform: scale(1.7);
	-ms-transform: scale(1.7);
	-moz-transform: scale(1.7);
	-webkit-transform: scale(1.7);

	animation: circleOneAnimation 2s infinite;
	-o-animation: circleOneAnimation 2s infinite;
	-ms-animation: circleOneAnimation 2s infinite;
	-moz-animation: circleOneAnimation 2s infinite;
	-webkit-animation: circleOneAnimation 2s infinite;
}
.winner .circle-2{
	background: rgba(36, 47, 77, 0.27);
	z-index: 8;
	transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
	-moz-transform: scale(2);
	-webkit-transform: scale(2);

	animation: circleTwoAnimation 2.4s infinite;
	-o-animation: circleTwoAnimation 2.4s infinite;
	-ms-animation: circleTwoAnimation 2.4s infinite;
	-moz-animation: circleTwoAnimation 2.4s infinite;
	-webkit-animation: circleTwoAnimation 2.4s infinite;
}
.circle-3{
	background: rgba(34, 51, 81, 0.48);
	z-index: 5;
	transform: scale(2.4);
	-o-transform: scale(2.4);
	-ms-transform: scale(2.4);
	-moz-transform: scale(2.4);
	-webkit-transform: scale(2.4);

	animation: circleThreeAnimation 3s infinite;
	-o-animation: circleThreeAnimation 3s infinite;
	-ms-animation: circleThreeAnimation 3s infinite;
	-moz-animation: circleThreeAnimation 3s infinite;
	-webkit-animation: circleThreeAnimation 3s infinite;
}
.game-content-selected-row{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.game-content-selected-center-mobile{
	display: none;
	margin-top: 100px;
}