/*fonts*/

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,600&display=swap');
/*font-family: 'Barlow Semi Condensed', sans-serif;*/
/*fonts*/

/*fonts*/

*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
a:hover{
	text-decoration:none;
}
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;

-webkit-tap-highlight-color:transparent;

div::-moz-selection { background:transparent; }
div::selection { background:transparent; }

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
