@media screen and (min-width: 992px) {
	.button-player-default {
	    width: 270px;
    	height: 270px;
	}
	.game-content-selected-center{
		display: block;
	}
	.game-content-selected-center-mobile{
		display: none;
	}
	.score-block{
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 992px) {
	.button-player-default {
	    width: 140px;
	    height: 140px;
	}
	.game-content-selected-center{
		display: none;
	}
	.game-content-selected-center-mobile{
		display: block;
	}
	.score-block{
		margin-bottom: 50px;
	}
}
